#jogo {
    width: 700px;
    height: 601px;
    border: solid 3px;
    margin-left: 170px;
}
.linha {
    height: 200px;
    border-bottom: solid 1px;
}

.casa {
    width: 200px;
    height: 100%;
    border-right: solid 1px;
    float: left;
    padding: 100px;
}