#jogo {
    width: 607px;
    height: 100px;
    margin-top: 300px;
    margin-left: 700px;
    
}
.linha {
    height: 200px;
    border-bottom: solid 1px;
}

.casa {
    width: 200px;
    height: 100%;
    border-right: solid 1px;
    float: left;
    padding: 9%;
    font-size: 70px;
    text-align: center;
        
}
.casaDireita {
    padding-top: 10%;
    padding-left: 65%;
    font-size: 70px;
    text-align: center;
}

